body {
  background-image: url(http://subtlepatterns.com/patterns/ricepaper_v3.png);
  background-position: initial initial;
  background-repeat: initial initial;
}
nav{
}

.navbar{
}
.examples li {
  font-size: 20px;
  border: 2px solid black;
  background-color: lightgrey;
  height: 170px;
}

img.legacy-center {
  display: block;
}

.map {
  margin-top: 50px;
}

.register {
  margin-top: 25px;
}

.faq-question {
	font-size: 25px;
	font-family: serif;
	font-weight: bold;
}
.faq-answer {
	font-size: 22px;
	font-family: sans-serif;
}