body {
  background-image: url(http://subtlepatterns.com/patterns/ricepaper_v3.png);
  background-position: initial initial;
  background-repeat: initial initial;
}
/* Empty rule. :( */
nav {
	
}

.hidden {
	display: none
}

@font-face {
	font-family: Papyrus;
	src: url(Papyrus.ttc);
}

.navbar {
	
}
.examples li {
  font-size: 20px;
  border: 2px solid black;
  background-color: lightgrey;
  height: 170px;
}

img.legacy-center {
  display: block;
}

.map {
  margin-top: 50px;
}

.register {
  margin-top: 25px;
}

.faq-question {
	font-size: 20px;
	font-family: serif;
	font-weight: bold;
	margin-top: 12px;
}
.faq-answer {
	font-size: 18px;
	font-family: sans-serif;
}
#faq-wrapper {
	border: 1px dashed black;
	padding: 5px;
	margin: 5px;
}

.view-count-wrapper {
	position: absolute;
	right: 50px;
	top: 100px;
	text-align: right;
	border: 1px solid black;
	padding: 10px;
	font-size: 24px;
	width:300px;
}
.view-count {
	background-color: #000000;
	color: #ffffff;
	font-family: monospace;
	display: inline-block;
}